body
{
   color: #404040;
   font-size: 11pt;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
}


h1
{ 
    justify-content: center;
    display: flex;
}
h1::before
{
    content: "Grandma's Lemon Meringue Pie";
    color:  #A4A400;
    padding: 1px;
    font-size: 22pt;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial','sans-serif';
    text-decoration: underline;
    letter-spacing: 0.25em;
}


h2,h3,h4,h5,h6
{
    text-align: left;
    font-size: 18pt;
    display: inline-flex;
}

h2,h3,h4,h5,h6
{
    color:  #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial','sans-serif';
    text-decoration: underline;
    letter-spacing: 0.25em;
    
}

a
{
    color: #A4A400;
}

img
{
    width: 250px;
    
}

.comment
{
    font-style: italic;
    background-color:rgb(209, 209, 40);
    margin: 50px;
}

.copyright
{
    font-family: monospace;
}

ul li
{
    list-style-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}